@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Admin Panel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApp1.styles.css" asp-append-version="true" />
<body>

    <!-- Sidebar -->
    <div class="sideBar w3-sidebar w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Admin Panel</h3>
        <a asp-controller="Admin" asp-action="SiparisPanel" class="w3-bar-item w3-button">Siparişler</a>
        <a asp-controller="Admin" asp-action="songPanel" class="w3-bar-item w3-button">İstek Şarkılar</a>
        <a asp-controller="Admin" asp-action="menuAddPanel" class="w3-bar-item w3-button">Menü Ekle</a>
        <a asp-controller="Admin" asp-action="categoryPanel" class="w3-bar-item w3-button">Kategoriler</a>
        <a asp-controller="Admin" asp-action="categoryAddPanel" class="w3-bar-item w3-button">Kategori Ekle</a>
        <a asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button">Siteye Git</a>
        <a asp-controller="Login" asp-action="deleteSession" class="w3-bar-item w3-button">Çıkış</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%;">

        <div class="w3-container w3-teal" style="background-color:#212A3E;">
            <h1>Moon Cafe</h1>
        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>