@model List<CmCategory>
@{
    var categories = Model;
    ViewData["Title"] = "Moon Cafe";
}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/ortak.css" />
    <link rel="stylesheet" href="~/css/kategori.css" />
</head>

<body>
    <section>
        <div class="container my-4">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">
                @{
                    foreach (var category in categories)
                    {
                        <div>
                            <div class="card mb-3 shadow">
                                <form method="post" asp-controller="Home" asp-action="MenuDetail">
                                    <input type="image" src="@category.ImagePath"
                                           class="card-img-top"
                                           alt="" value="@category.Id" />

                                    <div class="card-body">
                                        <button type="submit" class="aaa">@category.Name</button>
                                        <input type="hidden" name="categoryId" value="@category.Id">
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous">
    </script>
</body>