@{
}

<head>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <p style="color:tomato">@TempData["error"]</p>
    <form method="post" asp-controller="Login" asp-action="Login">
        <div class="login">
        <div class="form">
          
            <div class="row">
                    <label style="color:#9BA4B5; font-weight:bold; font-size:x-large;" for="firstname">Username:</label>
                <input id="firstname" class="input" type="text" name="username" />

            </div>
            <div class=" row">
                    <label style="color:#9BA4B5; font-weight:bold; font-size:x-large;" for="lastname">Password:</label>
                <input id="Password" class="input" type="password" name="password" />

            </div>
            <div style="color:white">
            <button type="submit" class="submit">Giriş</button>
            
                </div>
                <div style="color:white;">
                    @ViewBag.Mesaj
                </div>
        </div>
        </div>
    </form>
    
</body>