.baslik {
    text-align: center;
    margin-top: 20px;
}

.kapsayıcı {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    padding: 10px;
}

.satir {
    display: inline-block;
}

.left {
    width: 40%;
    display: inline-block;
}
.left input{
    width:250px;
}
.left img {
        width: 90%;
 }

.right {
    position:absolute;
    top:10%;
    width: 55%;
    height:90%;
    display: inline-block;
}
.right div,select{
    
    margin-bottom:20px;
}

.right button{
    position:absolute;
    right:0;
    bottom:10px;
    border-radius:5px;
    width:100px;
    background:#198754;
    color:white;
    border:white;
}
    .right button:hover{
        color:black;
        transition:0.5s;
    }
    .right label {
        width: 200px;
    }



.update {
    border: none;
    background-color: #198754;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

    .update:hover {
        background-color: white;
        border: 1px solid #198754;
        transition: 0.7s;
    }
