html {
    font-size: 14px;
}

.sideBar {
    background-color: #9BA4B5;
    border-right: 1px solid #212A3E;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
